.main{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    height: 25px;
}
.container:hover{
    background-color: whitesmoke;
    color: #333;
}
.link{

    font-weight: 100;
    font-size: 14px;
    padding-left: 10px;
}