.container{
    display:  flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 11px;

}
.image{
    border: 2px solid black;
    border-radius: 50%;
}