.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px 20px;
}
.container ul{
    margin-top: 0px;
}
.link{
    margin-left: 20px;
}
.burger{
    display: none;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.li{
    margin-left: 20px;
}


@media all and (max-width: 800px) {
    .link{  display: none;}
    .burger{
        display: flex;
        justify-content: space-between;
        display: flex;}
}